form input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px auto 30px auto;
  display: block;
  text-align: center;
  font-size: 25px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 500;
}

form ::placeholder {
  color: white;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
  background-color: white;
  width: 300px;
  color: teal;
}

button {
  margin-left: 35px;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  margin: 0 0 50px 0;
  padding: 10px 15px;
  color: teal;
  border-radius: 5px;
  width: 210px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  width: 250px;
}
